@include bp(1300px) {
  .v-partners {
    &__container {
      max-width: 850px;
    }
    &__content{
      align-items: center;
      &-form{
        width: 50%;
        &-arrow {
          right: 20px;
        }
        &-item {
          width: 100%;
          height: 30px;
          &-select {
            border-radius: 4px;
            width: 95%;

          }
        }
        &-btn {
          width: 100%;
          &-label {
            font-size: 14px;
          }
        }
      }
      &-video {
        width: 45%;
        video {
          width: 300px;
          height: auto;
        }
      }
    }
  }
  .c-messenger__wrapper {
    padding: 3px 7px;
    img {
      width: 15px;
      height: 15px;
    }
  }
  .v-partners__content-form-hide-input {
    width: 355px !important;
    height: 35px;
  }
  .v-partners__content-form-item-relative-arrow {
    right: 37px;
  }
  .vs__dropdown-toggle {
    width: 355px;
    height: 35px;
  }
}
