@include bp(476px) {
  .v-partners {
    margin-top: 100px;
    &__container {
      max-width: 280px;

      h2 {
        font-size: 16px;
      }
    }

    &__content {
      &-form {
        width: 100%;

        &-hide {
          &-input {
            width: 210px !important;
            height: 35px !important;

          }
        }

        &-item {
          height: 35px !important;

          &-relative {
            height: 35px !important;

            &-arrow {
              right: 20px;
            }
          }

          &-select {
            width: 100%;
            .vs__dropdown-toggle {
              height: 35px !important;
              display: flex;
              align-items: center;
            }
          }
        }

        &-btn {
          margin-top: 30px;
        }
      }

      &-video {
        width: 100%;
      }
    }

    &__messengers {
      margin: 0 0 10px 0;
    }
  }

  .c-messenger {
    &__title {
      font-size: 9px;
    }
    &__wrapper {
      padding: 3px 5px;
    }
  }
  .vs__dropdown-toggle {
    width: 210px;
    height: 35px;
  }
}
