@include bp(950px) {
  .v-partners {
    &__container {
      max-width: 750px;
    }
    &__content-form-hide-input {
      width: 305px !important;
    }
  }
  .vs__dropdown-toggle {
    width: 305px;
    height: 35px;
  }
  .v-partners__content-form-btn {
    margin-top: 30px;
  }
}
