@include bp(800px) {
  .v-partners {
    &__container {
      max-width: 550px;
      text-align: center;
    }

    &__content {
      &-form {
        &-hide {
          &-input {
            width: 480px !important;
          }
        }
        &-item {
          &-relative {
            &-arrow {
              right: 20px;
            }
          }

          &-select {
            width: 100%;
          }
        }
      }

      flex-direction: column;
      align-items: center;

      &-video {
        width: 100%;

        video {
          width: 100%;
        }
      }

      &-form {
        width: 100%;
      }

      &__messengers {
        margin-left: 0;
        font-size: 12px;
      }
    }
  }
  .c-messenger {
    &__title {
      font-size: 12px;
    }
  }
  .vs__dropdown-toggle {
    width: 480px;
    height: 35px;
  }
}
