@include bp(1920px) {
  .v-partners {
    margin-top: 290px;

    &__container {
      max-width: 1300px;

      h2 {
        font-size: rem(35);
      }
    }

      &-video {
        width: 60%;

        video {
          width: 653px;
          height: 367px;
        }
      }

      &-form {
        width: 40%;
        padding: 40px 30px 40px 40px;

        &-item {
          height: 45px !important;
          width: 375px;
        }

        &-arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
        }

        &-btn {
          width: 375px;
          height: 45px;
          margin-top: 55px;

          &-label {
            font-size: rem(10);
          }
        }
      }

    &__messengers {
      margin-bottom: 10px;
      max-width: 375px;
    }
  }

  .c-messenger {
    margin-top: 10px;

    &__wrapper {
      padding: 5px 9px;

      img {
        width: 19px;
        height: 19px;
      }
    }
  }
  .v-partners__content-form-hide-input {
    width: 100%;
    height: 45px;
  }
  .v-partners__content-form-item-relative-arrow {
    right: 20px;
  }
  .v-partners__content-form-item-relative {
    width: 100%;
  }
  .vs__dropdown-toggle {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
