@include bp(600px) {
  .v-partners {
    &__container {
      max-width: 400px;
    }

    &__content {
      &-form {
        width: 100%;
      }

      &-video {
        width: 100%;
      }
    }

    &__messengers {
      margin-left: 0;
    }

    &__content {
      &-form {
        box-shadow: none;
        &-hide {
          &-input {
            width: 330px !important;
          }
        }

        &-item {
          &-relative {
            &-arrow {
              right: 20px;
            }
          }

          &-select {
            width: 100%;
          }
        }
      }
    }
  }
  .vs__dropdown-toggle {
    width: 330px;
    height: 35px;
  }
}
