<template>
<div class="v-image-list">
    <img class="v-image-list-img"  :src="img" alt="">
</div>
</template>

<script>
 export default {
  name: "ImageList",
  props: {
   img: {
    type: String,
   },
  },
 }
</script>

<style lang="scss">
    .v-image-list {
        @extend %df;
        @extend %fw;
        margin-right: 20px;
        margin-bottom: 10px;
        &-img {
            display: inline-block;
            filter: grayscale(1);
            opacity: .7;
            transition: all .3s;
            object-fit: scale-down;
            &:hover {
                opacity: 1;
                filter: grayscale(0);
            }
        }
    }
</style>
