@include bp(600px) {
  .c-auto-slider {
    text-align: center;
    &__title {
      font-size: rem(20);
    }
    &__description {
      font-size: rem(15);
    }
  }
}


@include bp(610px) {
  .c-slider-item {
    height: 140px;
    &__diagram {
      img {
        height: 100%;
        width: 22vw;
      }
    }
  }
}


@include bp(499px) {
  .c-slider-item {
    &__diagram {
      img {
        height: 100%;
        width: 37vw;
      }
    }
  }
}
