@include bp(800px) {
  .c-slider-item {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__diagram {
      width: max-content;
      img {
        height: 100%;
        width: 17.5vw;
      }
    }
  }
}
