@include bp(476px) {
  .c-auto-slider {
    margin: 20vw auto !important;
    text-align: center;

    &__title {
      max-width: 280px;
      text-align: left;
      line-height: normal;
      font-size: 20px;
      margin: 0 auto;
    }

    .swiper-container {
      height: 230px !important;
    }

    &__description {
      max-width: 280px;
      margin: 10px auto;
      text-align: left;
    }
  }
  .c-slider-item {

    &__diagram {
      img {
        width: 42vw;
        height: auto;
      }
    }
  }
}
