@include bp(950px) {
  .c-slider-item {
    height: 180px;
    &__header {
      &-logo {
        &-item {
          width: 38px;
          height: 38px;
        }
      }
      &-title {
        h2 {
          font-size: 12px;
        }
        p {
          font-size: 11px;
        }
      }
    }
  }
}
