@include bp(1440px) {
  .c-header {
    &__container {
      max-width: 1140px;
    }
    &__right-holder {
      &-contact a {
        width: 190px;
      }
    }
  }

  .v-start-page {
    &__container {
      max-width: 1140px;
    }
  }

  .c-roadmap {
    &__container {
      max-width: 1140px;
    }
  }

  .c-portfolio {
    &__container {
      max-width: 1140px;
    }
  }

  .c-team {
    &__container {
      max-width: 1140px;
    }
  }

  .c-modal-team {
    width: 370px;
  }

  .c-faq {
    &__container {
      max-width: 1140px;
    }
  }

  .v-partners {
    &__container {
      max-width: 1140px;
    }
  }

  .c-footer {
    &__container {
      max-width: 1140px;
    }
  }

  .v-slider-item {
    &__wrapper {
      &-view {
        img {
          width: 55px;
          height: inherit !important;
        }
      }
      &-title {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
