// ================ Roboto-Regular ================
@include font_face(ProximaNova-Regular, ProximaNova-Regular);

%regular {
  font-family: 'ProximaNova-Regular', sans-serif;
}

// ################ Roboto-Regular ################

//// ================ Roboto-Bold-Condensed ==============
@include font_face(ProximaNova-Bold, ProximaNova-Bold);

%bold {
  font-family: 'ProximaNova-Bold', sans-serif;
}

@include font_face(ProximaNova-Black, ProximaNova-Black);

%proximablack {
  font-family: 'ProximaNova-Black', sans-serif;
}

%regular14lh {
  line-height: 29.95px;
  @extend %regular;
  font-size: rem(14);
}

%regularbold14lh {
  line-height: 29.95px;
  @extend %bold;
  font-size: rem(14);
}

%regular16lh {
  line-height: 45px;
  @extend %regular;
  font-size: rem(16);
}

%regular16bold {
  @extend %bold;
  font-size: rem(16);
}

%regular20px {
  font-size: rem(20);
  line-height: rem(36);
  @extend %regular;
}

%regularbold20px {
  font-size: rem(20);
  line-height: rem(36);
  @extend %bold;
}

%regularbold35px {
  font-size: rem(25);
  line-height: rem(45);
  @extend %bold;
}

%regularbold40px {
  font-size: rem(40);
  letter-spacing: 0.8px;
  @extend %bold;
}
