@include bp(950px) {
  .v-start-page {
    &__container {
      max-width: 750px;
    }
    &:after {
      width: 100%;
    }
    &__title {

      &-item {
        font-size: 20px;
        font-weight: 600;

        &-name {
          font-size: 30px;
        }
      }

      &-tag {
        p {
          margin: 0 auto;
          font-size: 16px;
          font-weight: 400;
        }
      }

      &-btn {
        margin: rem(10) auto 0 auto;

        button {
          padding: 7px 10px;
          width: 140px;
        }
      }
    }
    &__video {
      margin: 0 auto;

      &-item {
        width: 100%;
      }
    }
  }
}
