@include bp(476px) {
  .v-start-page {
    width: 100%;

    &::after {
      width: 100%;
    }

    &__container {
      max-width: 280px;
    }

    &__title {
      width: 100%;
      &-btn {
        button {
          width: max-content;
        }
      }
    }

    &__video {
      width: 100%;

      video {
        width: 200px;
      }
    }
    &__mobile-menu-link {
      font-size: 26px;
    }

    &__contact {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;

      a {
        display: block;
        font-size: 26px;
        width: 100%;
      }
    }
  }
}
