@include bp(1920px) {
  .v-start-page {
    height: 80vh;

    &:after {
      width: 1400px;
    }

    &__container {
      max-width: 1300px;
    }

    &__title {
      width: 60%;
      margin-top: -80px;
      &-item {
        margin: 0;
      }

      &-tag {
        margin: 35px 0 50px 0;
        p {
          font-size: 20px;
        }
      }

      &-btn {
        margin: 0;

        button {
          width: 183px;
          padding: 12px;
        }
      }
    }
  }
}
