@include bp(600px) {
  .v-start-page {
    &:after {
      width: 627px;
    }
    &__container {
      max-width: 400px;
    }
    &__video {
      width: 100%;
      text-align: center;
      video {
        width: 300px;
      }
    }
  }
}
