@include bp(800px) {
  .v-start-page {
    padding-top: 120px;
    height: 100%;

    &__container {
      flex-wrap: wrap;
      max-width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      width: 50%;
      margin-top: 0;

      &-item {
        font-size: 15px;
        text-align: center;
        font-weight: 600;

        &-name {
          font-size: 20px;
          text-align: center;
        }
      }

      &-tag {
        margin: 0;
        p {
          border: none;
          text-align: center;
          margin: 0 auto;
          font-size: 13px;
          font-weight: 400;
        }
      }

      &-btn {
        margin: rem(10) auto 0 auto;
        text-align: center;

        button {
          padding: 7px 10px;
          width: 140px;
        }
      }
    }
  }
}
