@include bp(1920px) {
  .c-portfolio {
    margin-top: 215px;

    &__container {
      max-width: 1300px;
      display: flex;

      &-title {
        font-size: rem(35);
      }

      &-description {
        width: 100%;
      }
    }
  }
  .v-image-list {
    margin-top: 30px;
    margin-right: 80px;

    &-img {

    }
  }
}
