@include bp(476px) {
  .c-portfolio {
    margin: 0;
    &__container {
      max-width: 280px;
      &-title {
        font-size: 20px;
      }
    }
  }

  .v-image-list {
    margin-right: 10px;
    &-img {
      width: 80px;
      height: 30px;
    }
  }
}
