@include bp(800px) {
  .c-portfolio {
    margin: 140px 0 0 0;
    &__container {
      max-width: 650px;
      margin: 0 auto;
    }
  }
  .v-image-list {
    &-img {
      filter: grayscale(0);
      opacity: 1;
      width: 170px;
      height: 55px;
    }
  }
}
