@include bp(680px) {
  .c-faq {
    &__container {
      max-width: 600px;
    }
    &-questions {

      > div {
        h2 {
          font-size: 12px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    &-answers {
      > div {
        h2 {
          font-size: 12px;
        }

        p {
          font-size: 12px;
        }
      }
    }

  }
}
