@include bp(1920px) {
  .c-faq {
    margin-top: 300px;

    &__container {
      max-width: 1300px;
    }

    &__content {
      &-title {
        font-size: rem(35);
        margin-bottom: 55px;
      }

      &-questions {
        > div {
          padding: 45px 30px;

          &:nth-child(2) {
            margin-bottom: 30px;
            margin-top: 30px;
          }

          h2 {
            font-size: rem(18);
          }

          p {
            font-size: rem(16);
          }
        }
      }

      &-answers {
        > div {
          padding: 50px 35px;

          h2 {
            font-size: rem(18);
          }

          p {
            font-size: rem(16);
          }
        }
      }
    }
  }
}
