@include bp(800px) {
  .c-faq {
    &__container {
      max-width: 650px;
      text-align: center;
    }

    &__content {
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      display: flex;

      &-answers {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > div {
          &:nth-child(1) {
            margin-bottom: 20px;
            margin-top: 20px;
          }

          margin-bottom: 20px;
        }

        &-info {
          &-doc {
            justify-content: center;

            &-link {
              font-size: 12px;
            }

            &-text {
              font-size: 12px;
            }

            &-arrow {
              color: $blue;
            }

            img {
              width: 15px;
              height: 20px;
            }
          }
        }
      }

      &-questions {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > div {

          &:nth-child(2) {
            margin-bottom: 20px;
            margin-top: 20px;
          }

          &:nth-child(1) {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }

      }
    }
  }
}
