@include bp(476px) {
  .c-faq {
    margin-top: 100px;
    &__container {
      max-width: 280px;
    }

    &__content {
      text-align: left;
      width: 100%;
      &-title {
        h2 {
          font-size: 25px;
        }
      }

      &-questions {
        &-service {
          margin: 0 !important;
        }
        > div {
          padding: 10px 20px;
          h2 {
            font-size: 12px;
          }

          p {
            font-size: 10px;
          }
        }
      }

      &-answers {
        > div {
          padding: 10px 20px;
          h2 {
            font-size: 12px;
          }

          p {
            font-size: 10px;
          }
        }

        &-info-doc {
          &-text {
            font-size: 9px;
            width: 100%;
            margin-right: 0;
            margin-left: 9px;
          }
          &-arrow {
            display: none;
          }
          img {
            width: 15px;
            height: 20px;
          }
        }
      }
    }
  }
}
