<template>
    <section id="faq">
        <div class="c-faq">
            <div class="c-faq__container">
                <div class="c-faq__content-title">
                    <h2> {{ $t("faq.title")}}</h2>
                </div>
                <div class="c-faq__content">
                    <div class="c-faq__content-questions">
                        <div class="c-faq__content-questions-service">
                            <div class="c-faq__content-questions-service-tag">
                                <h2>{{ $t("faq.service")}}</h2>
                            </div>
                            <div class="c-faq__content-questions-service-item">
                                <p>{{ $t("faq.serviceDescription")}}</p>
                            </div>
                        </div>
                        <div class="c-faq__content-questions-nda">
                            <div class="c-faq__content-questions-nda-tag">
                                <h2>{{ $t("faq.nda")}}</h2>
                            </div>
                            <div class="c-faq__content-questions-nda-item">
                                <p>{{ $t("faq.ndaDescription")}}</p>
                            </div>
                        </div>
                        <div class="c-faq__content-questions-ctg">
                            <div class="c-faq__content-questions-ctg-tag">
                                <h2>{{ $t("faq.ctg")}}</h2>
                            </div>
                            <div class="c-faq__content-questions-ctg-item">
                                <p>{{ $t("faq.ctgDescription")}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="c-faq__content-answers">
                        <div class="c-faq__content-answers-works">
                            <div class="c-faq__content-answers-works-tag">
                                <h2>{{ $t("faq.works")}}</h2>
                            </div>
                            <div class="c-faq__content-answers-works-item">
                                <p>{{ $t("faq.worksDescription")}}</p>
                            </div>
                        </div>
                        <div class="c-faq__content-answer-info">
                            <div class="c-faq__content-answer-info-tag">
                                <h2>{{ $t("faq.info")}}</h2>
                            </div>
                            <div class="c-faq__content-answer-info-item">
                                <p>{{ $t("faq.infoDescription")}}</p>
                            </div>
                            <div class="c-faq__content-answers-info-doc">
                                <a class="c-faq__content-answers-info-doc-link" @click="isActiveFaq = !isActiveFaq">
                                    <img src="img/faq/faq-doc.png" alt="doc">
                                    <span class="c-faq__content-answers-info-doc-text">{{ $t("faq.about")}}</span>
                                    <span class="c-faq__content-answers-info-doc-arrow">&#10095;</span>
                                </a>
                                <Modal
                                    v-if="isActiveFaq"
                                    @close="closeFaqModal"
                                >
                                    <div slot="body" class="c-faq-modal">
                                            <img src="img/faq/popup.png" alt="popup">
                                    </div>
                                </Modal>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
 import Modal from "../components/Modal";

 export default {
  name: "FAQ",
  components: {
   Modal,
  },
  data() {
   return {
    isActiveFaq: false,
   };
  },
  methods: {
   closeFaqModal() {
     this.isActiveFaq = false;
   }
  }
 }
</script>

<style lang="scss">
    .c-faq {
        margin-top: 140px;

        &__container {
            max-width: 865px;
            margin: 0 auto;
        }

        .c-faq-modal {
            overflow-y: scroll;
            height: 400px;
            padding-top: 30px;
            img {
                width: 100%;
                height: max-content;
            }
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 25px;

            &-title {
                @extend %regularbold35px;
                line-height: normal;
                width: 100%;
                margin-bottom: 20px;
            }

            &-questions {
              width: 100%;

                > div {
                    padding: 15px 25px;
                    border: 1px solid rgba(8, 14, 72, 0.33);
                    border-radius: 4px;
                    width: 100%;

                    &:nth-child(2) {
                        margin-bottom: 15px;
                        margin-top: 15px;
                    }

                    h2 {
                        color: $blue;
                        @extend %regularbold14lh;
                        line-height: normal;
                        font-size: 16px;
                    }

                    p {
                        @extend %regular14lh;
                        color: $black;
                        margin-top: 20px;
                        line-height: normal;
                        font-size: 16px;
                    }
                }
            }

            &-answers {
                width: 100%;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-row-gap: 30px;


                &-info {
                    &-doc {
                        display: flex;
                        margin-top: 24px;
                        align-items: center;

                        &-link {
                            color: $black;
                            @extend %regular14lh;
                            display: flex;
                            align-items: center;
                        }

                        &-text {
                            margin: 0 20px;
                            border-bottom: 1px solid $black;
                            @extend %regular14lh;
                            line-height: normal;
                        }

                        &-arrow {
                            color: $blue;
                        }

                        img {
                            width: 20px;
                            height: 25px;
                        }
                    }
                }

                > div {
                    padding: 15px 25px;
                    border: 1px solid rgba(8, 14, 72, 0.33);
                    border-radius: 4px;
                    width: 100%;

                    h2 {
                        color: $blue;
                        @extend %regularbold14lh;
                        font-size: 16px;
                        line-height: normal;
                    }

                    p {
                        @extend %regular14lh;
                        font-size: 16px;
                        color: $black;
                        margin-top: 20px;
                        line-height: normal;
                    }
                }
            }
        }
    }
</style>
