<template>
    <section id="cooperation">
        <div class="v-partners">
            <div class="v-partners__container">
                <h2>{{ $t("partners.title")}}</h2>
                <div class="v-partners__content">
                    <div class="v-partners__content-form">
                        <form>
                            <input class="v-partners__content-form-item"
                                   :placeholder="$t('form.username')"
                                   type="text"/>
                            <div class="v-partners__content-form-item-relative" v-show="isActiveSelect">
                                <v-select
                                        ref="selectType"
                                        @close="isActiveSelect = false"
                                        class="v-partners__content-form-item-select"
                                        label="name"
                                        :placeholder="$t(`form.enter_type_${activeType}`)"
                                        :options="typeFeedbackOptions"
                                        :reduce="type => type.val"
                                        v-model="activeType"
                                        :clearable="false"
                                />
                            </div>
                            <div class="v-partners__content-form-item-relative" v-show="!isActiveSelect">
                                <input
                                        autocomplete="none"
                                        :placeholder="$t(`form.enter_type_${activeType}`)"
                                        type="text"
                                        class="v-partners__content-form-hide-input"
                                >
                                <div class="v-partners__content-form-item-relative-arrow" @click="openSelect">
                                    <img src="img/messengers/arrow.svg" alt="arrow">
                                </div>
                            </div>
                            <div class="v-partners__messengers">
                                <template v-for="messenger of messengers">
                                    <Messenger
                                            v-if="messenger.types.includes(activeType)"
                                            :title="messenger.title"
                                            :img="messenger.img"
                                            :id="messenger.id"
                                    />
                                </template>
                            </div>
                            <input class="v-partners__content-form-item" :placeholder="$t('form.useremail')"
                                   type="email"/>
                            <div class="v-partners__content-form-item-relative">
                                <v-select class="v-partners__content-form-item-select"
                                          :placeholder="$t('form.country')" label="countryName"
                                          :options="countries"/>
                            </div>
                            <button class="v-partners__content-form-btn">{{ $t("partners.contact")}}</button>
                            <p class="v-partners__content-form-btn-label">{{ $t("partners.confirm")}}</p>
                        </form>
                    </div>
                    <div class="v-partners__content-video">
                        <video autoplay muted src="mp_4/contact.mp4"></video>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
 import Messenger from "../components/Messenger";

 export default {
  name: "Partners",
  components: {
   Messenger,
  },
  data() {
   return {
    messengers: [
     {
      img: 'img/messengers/whats.png',
      title: 'Whats App',
      types: ['phone'],
     },
     {
      img: 'img/messengers/telegram.png',
      title: 'Telegram',
      types: ['phone', 'messenger'],
     },
     {
      img: 'img/messengers/viber.png',
      title: 'Viber',
      types: ['phone'],
     },
     {
      img: 'img/messengers/skype.png',
      title: 'Skype',
      types: ['messenger']

     },
    ],
    countries: [
     {
      countryName: "Afghanistan"
     },
     {
      countryName: "Albania"
     },
     {
      countryName: "Algeria"
     },
     {
      countryName: "American Samoa'"
     },
     {
      countryName: "Andorra"
     },
     {
      countryName: "Angola"
     },
     {
      countryName: "Anguilla"
     },
     {
      countryName: "Antigua and Barbuda'"
     },
     {
      countryName: "Argentina"
     },
     {
      countryName: "Armenia"
     },
     {
      countryName: "Aruba"
     },
     {
      countryName: "Australia"
     },
     {
      countryName: "Austria"
     },
     {
      countryName: "Azerbaijan"
     },
     {
      countryName: "Bangladesh"
     },
     {
      countryName: "Barbados"
     },
     {
      countryName: "Bahamas"
     },
     {
      countryName: "Bahrain"
     },
     {
      countryName: "Belarus"
     },
     {
      countryName: "Belgium"
     },
     {
      countryName: "Belize"
     },
     {
      countryName: "Benin"
     },
     {
      countryName: "Bermuda"
     },
     {
      countryName: "Bhutan"
     },
     {
      countryName: "Bolivia"
     },
     {
      countryName: "Bosnia and Herzegovina"
     },
     {
      countryName: "Botswana"
     },
     {
      countryName: "Brazil"
     },
     {
      countryName: "British Indian Ocean Territory"
     },
     {
      countryName: "British Virgin Islands"
     },
     {
      countryName: "Brunei Darussalam"
     },
     {
      countryName: "Bulgaria"
     },
     {
      countryName: "Burkina Faso"
     },
     {
      countryName: "Burma"
     },
     {
      countryName: "Burundi"
     },
     {
      countryName: "Cambodia"
     },
     {
      countryName: "Cameroon",
     },
     {
      countryName: "Cape Verde",
     },
     {
      countryName: "Cayman Islands",
     },
     {
      countryName: "Central African Republic",
     },
     {
      countryName: "Chad",
     },
     {
      countryName: "Chile",
     },
     {
      countryName: "China",
     },
     {
      countryName: "Christmas Island",
     },
     {
      countryName: "Cocos (Keeling) Islands",
     },
     {
      countryName: "Colombia",
     },
     {
      countryName: "Comoros",
     },
     {
      countryName: "Congo-Brazzaville",
     },
     {
      countryName: "Congo-Kinshasa",
     },
     {
      countryName: "Cook Islands",
     },
     {
      countryName: "Costa Rica",
     },
     {
      countryName: "Croatia",
     },
     {
      countryName: "Curaao'",
     },
     {
      countryName: "Cyprus",
     },
     {
      countryName: "Czech Republic",
     },
     {
      countryName: "Denmark",
     },
     {
      countryName: "Djibouti",
     },
     {
      countryName: "Dominica",
     },
     {
      countryName: "Dominican Republic",
     },
     {
      countryName: "East Timor",
     },
     {
      countryName: "Ecuador",
     },
     {
      countryName: "El Salvador",
     },
     {
      countryName: "Egypt",
     },
     {
      countryName: "Equatorial Guinea",
     },
     {
      countryName: "Eritrea",
     },
     {
      countryName: "Estonia",
     },
     {
      countryName: "Ethiopia",
     },
     {
      countryName: "Falkland Islands",
     },
     {
      countryName: "Faroe Islands",
     },
     {
      countryName: "Federated States of Micronesia",
     },
     {
      countryName: "Fiji",
     },
     {
      countryName: "Finland",
     },
     {
      countryName: "France",
     },
     {
      countryName: "French Guiana",
     },
     {
      countryName: "French Polynesia",
     },
     {
      countryName: "French Southern Lands",
     },
     {
      countryName: "Gabon",
     },
     {
      countryName: "Gambia",
     },
     {
      countryName: "Georgia",
     },
     {
      countryName: "Germany",
     },
     {
      countryName: "Ghana",
     },
     {
      countryName: "Gibraltar",
     },
     {
      countryName: "Greece",
     },
     {
      countryName: "Greenland",
     },
     {
      countryName: "Grenada",
     },
     {
      countryName: "Guadeloupe",
     },
     {
      countryName: "Guam",
     },
     {
      countryName: "Guatemala",
     },
     {
      countryName: "Guernsey",
     },
     {
      countryName: "Guinea",
     },
     {
      countryName: "Guinea-Bissau",
     },
     {
      countryName: "Guyana",
     },
     {
      countryName: "Haiti",
     },
     {
      countryName: "Heard and McDonald Islands",
     },
     {
      countryName: "Honduras",
     },
     {
      countryName: "Hong Kong",
     },
     {
      countryName: "Hungary",
     },
     {
      countryName: "Iceland",
     },
     {
      countryName: "India",
     },
     {
      countryName: "Indonesia",
     },
     {
      countryName: "Iraq",
     },
     {
      countryName: "Ireland",
     },
     {
      countryName: "Isle of Man",
     },
     {
      countryName: "Israel",
     },
     {
      countryName: "Italy",
     },
     {
      countryName: "Jamaica",
     },
     {
      countryName: "Japan",
     },
     {
      countryName: "Jersey",
     },
     {
      countryName: "Jordan",
     },
     {
      countryName: "Kazakhstan",
     },
     {
      countryName: "Kenya",
     },
     {
      countryName: "Kiribati",
     },
     {
      countryName: "Kuwait",
     },
     {
      countryName: "Kyrgyzstan",
     },
     {
      countryName: "Laos",
     },
     {
      countryName: "Latvia",
     },
     {
      countryName: "Lebanon",
     },
     {
      countryName: "Lesotho",
     },
     {
      countryName: "Liberia",
     },
     {
      countryName: "Libya",
     },
     {
      countryName: "Liechtenstein",
     },
     {
      countryName: "Lithuania",
     },
     {
      countryName: "Luxembourg",
     },
     {
      countryName: "Macau",
     },
     {
      countryName: "Macedonia",
     },
     {
      countryName: "Madagascar",
     },
     {
      countryName: "Malawi",
     },
     {
      countryName: "Malaysia",
     },
     {
      countryName: "Maldives",
     },
     {
      countryName: "Mali",
     },
     {
      countryName: "Malta",
     },
     {
      countryName: "Marshall Islands",
     },
     {
      countryName: "Martinique",
     },
     {
      countryName: "Mauritania",
     },
     {
      countryName: "Mauritius",
     },
     {
      countryName: "Mayotte",
     },
     {
      countryName: "Mexico",
     },
     {
      countryName: "Moldova",
     },
     {
      countryName: "Monaco",
     },
     {
      countryName: "Mongolia",
     },
     {
      countryName: "Montenegro",
     },
     {
      countryName: "Montserrat",
     },
     {
      countryName: "Morocco",
     },
     {
      countryName: "Mozambique",
     },
     {
      countryName: "Namibia",
     },
     {
      countryName: "Nauru",
     },
     {
      countryName: "Nepal",
     },
     {
      countryName: "Netherlands",
     },
     {
      countryName: "New Caledonia",
     },
     {
      countryName: "New Zealand",
     },
     {
      countryName: "Nicaragua",
     },
     {
      countryName: "Niger",
     },
     {
      countryName: "Nigeria",
     },
     {
      countryName: "Niue",
     },
     {
      countryName: "Norfolk Island",
     },
     {
      countryName: "Northern Mariana Islands",
     },
     {
      countryName: "Norway",
     },
     {
      countryName: "Oman",
     },
     {
      countryName: "Pakistan",
     },
     {
      countryName: "Palau",
     },
     {
      countryName: "Panama",
     },
     {
      countryName: "Papua New Guinea",
     },
     {
      countryName: "Paraguay",
     },
     {
      countryName: "Peru",
     },
     {
      countryName: "Philippines",
     },
     {
      countryName: "Pitcairn Islands",
     },
     {
      countryName: "Poland",
     },
     {
      countryName: "Portugal",
     },
     {
      countryName: "Puerto Rico",
     },
     {
      countryName: "Qatar",
     },
     {
      countryName: "Romania",
     },
     {
      countryName: "Russia",
     },
     {
      countryName: "Rwanda",
     },
     {
      countryName: "Saint Barthlemy",
     },
     {
      countryName: "Saint Helena",
     },
     {
      countryName: "Saint Kitts and Nevis",
     },
     {
      countryName: "Saint Lucia",
     },
     {
      countryName: "Saint Martin",
     },
     {
      countryName: "Saint Pierre and Miquelon",
     },
     {
      countryName: "Saint Vincent",
     },
     {
      countryName: "Samoa",
     },
     {
      countryName: "San Marino",
     },
     {
      countryName: "Saudi Arabia",
     },
     {
      countryName: "Senegal",
     },
     {
      countryName: "Serbia",
     },
     {
      countryName: "Seychelles",
     },
     {
      countryName: "Sierra Leone",
     },
     {
      countryName: "Singapore",
     },
     {
      countryName: "Sint Maarten",
     },
     {
      countryName: "Slovakia",
     },
     {
      countryName: "Slovenia",
     },
     {
      countryName: "Solomon Islands",
     },
     {
      countryName: "Somalia",
     },
     {
      countryName: "South Africa",
     },
     {
      countryName: "South Georgia",
     },
     {
      countryName: "South Korea",
     },
     {
      countryName: "Spain",
     },
     {
      countryName: "Sri Lanka",
     },
     {
      countryName: "Sudan",
     },
     {
      countryName: "Suriname",
     },
     {
      countryName: "Svalbard and Jan Mayen'",
     },
     {
      countryName: "Sweden",
     },
     {
      countryName: "Swaziland",
     },
     {
      countryName: "Switzerland",
     },
     {
      countryName: "Syria",
     },
     {
      countryName: "Taiwan",
     },
     {
      countryName: "Tajikistan",
     },
     {
      countryName: "Tanzania",
     },
     {
      countryName: "Thailand",
     },
     {
      countryName: "Togo",
     },
     {
      countryName: "Tokelau",
     },
     {
      countryName: "Tonga",
     },
     {
      countryName: "Trinidad and Tobago",
     },
     {
      countryName: "Tunisia",
     },
     {
      countryName: "Turkey",
     },
     {
      countryName: "Turkmenistan",
     },
     {
      countryName: "Turks and Caicos Islands",
     },
     {
      countryName: "Tuvalu",
     },
     {
      countryName: "Uganda",
     },
     {
      countryName: "Ukraine",
     },
     {
      countryName: "United Arab Emirates",
     },
     {
      countryName: "United Kingdom",
     },
     {
      countryName: "United States",
     },
     {
      countryName: "Uruguay",
     },
     {
      countryName: "Uzbekistan",
     },
     {
      countryName: "Vanuatu",
     },
     {
      countryName: "Vatican City",
     },
     {
      countryName: "Vietnam",
     },
     {
      countryName: "Venezuela",
     },
     {
      countryName: "Wallis and Futuna",
     },
     {
      countryName: "Western Sahara",
     },
     {
      countryName: "Yemen",
     },
     {
      countryName: "Zambia",
     },
     {
      countryName: "Zimbabwe",
     },
    ],
    activeType: 'phone',
    isActiveSelect: false,
    typeFeedback: [
     {
      name: 'messenger',
     },
     {
      name: 'phone',
     },
    ],
   };
  },
  computed: {
   typeFeedbackOptions() {
    return this.typeFeedback.map(type => ({
     name: this.$t(`form.enter_type_${type.name}`),
     val: type.name,
    }))
   }
  },
  methods: {
   openSelect() {
    this.isActiveSelect = true;
    const event = new Event('mousedown');
    this.$refs.selectType.$refs.toggle.dispatchEvent(event);
   }
  }
 }
</script>

<style lang="scss">
    .v-partners {
        margin-top: 165px;

        input {
            &::placeholder {
                font-size: 12px;
            }
        }

        &__container {
            max-width: 865px;
            margin: 0 auto;

            h2 {
                @extend %regularbold35px;
                color: $black;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            margin-top: 37px;

            &-video {
                width: 50%;

                video {
                    width: 400px;
                    margin-top: 30px;
                }
            }

            &-form {
                width: 40%;
                box-shadow: 0 11px 16px rgba(8, 14, 72, 0.1);
                padding: 20px 30px 40px 40px;

                &-btn {
                    margin-top: 30px;
                    @extend %btnfullblue;
                    width: 100%;
                    height: 45px;


                    &-label {
                        text-align: center;
                        @extend %regular;
                        font-size: rem(10);
                        line-height: normal;
                        color: $black;
                        margin: 37px auto 0 auto;
                    }
                }

                &-hide {
                    &-input {
                        height: 45px;
                        width: 100%;
                        position: relative;
                        outline: none;
                        border: 1px solid rgba(8, 14, 72, 0.33);
                        padding-left: 21px;
                        font-size: 14px;
                        @extend %regular;
                        border-radius: 4px;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;
                }

                &-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: $blue;
                }

                &-item {
                    width: 100%;
                    cursor: pointer;

                    &-select {
                        border-radius: 4px;

                        span {
                            font-size: 16px;
                            padding-left: 21px;
                            @extend %regular;
                        }

                        input {
                            height: 45px;
                            @extend %regular;
                            font-size: 12px;
                            padding-left: 21px;
                        }
                    }

                    &-relative {
                        position: relative;
                        width: 100%;

                        &-arrow {
                            position: absolute;
                            right: 40px;
                            top: 50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }
                    }

                    &:not(last-child) {
                        margin-bottom: 15px;
                        height: 45px;
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid rgba(8, 14, 72, 0.33);
                        padding-left: 24px;
                    }
                }
            }
        }

        &__messengers {
            @extend %df;
            @extend %aic;
            @extend %jcfs;

            &__title {
                @extend %regular14lh;
                line-height: normal;
            }
        }

        .vs__dropdown-menu {
            @extend %regular;
        }
    }

    .vs__actions {
        padding: 4px 18px 0 3px !important;

        svg {
            fill: $blue;
            cursor: pointer;
        }
    }

    .vs__dropdown-toggle {
        border: 1px solid rgba(8, 14, 72, 0.33) !important;
    }
</style>
