<template>
    <section id="partners">
        <div class="c-portfolio">
            <div class="c-portfolio__container">
                <h2 class="c-portfolio__container-title">{{$t('portfolio.title')}}</h2>
                <p class="c-portfolio__container-description">{{$t('portfolio.description')}}</p>
                <ImageList v-for="image of images" :img="image.img"/>
            </div>
        </div>
    </section>
</template>

<script>
 import ImageList from "./portfolio/ImageList";

 export default {
  name: "Portfolio",
  components: {ImageList},
  data() {
   return {
    images: [
     {
      img: 'img/projects/binance.png',
     },
     {
      img: 'img/projects/okex.png',
     },
     {
      img: 'img/projects/huobi.png',
     },
     {
      img: 'img/projects/hitbtc.png',
     },
     {
      img: 'img/projects/kraken.png',
     },
     {
      img: 'img/projects/gateio.png',
     },
     {
      img: 'img/projects/bitrex.png',
     },
     {
      img: 'img/projects/poloniex.png',
     },
     {
      img: 'img/projects/coin-ex.png',
     },
     {
      img: 'img/projects/exmo.png',
     },
     {
      img: 'img/projects/yobit.png',
     },
     {
      img: 'img/projects/kucoin.png',
     },
     {
      img: 'img/projects/lbank.png',
     },
     {
      img: 'img/projects/bit.png',
     },
     {
      img: 'img/projects/bkex.png',
     },
     {
      img: 'img/projects/forex.png',
     },
     {
      img: 'img/projects/finex.png',
     },
     {
      img: 'img/projects/bw.png',
     },
    ],
   }
  },
 }
</script>

<style lang="scss">
    .c-portfolio {
        margin-top: 145px;

        &__container {
            max-width: 1300px;
            margin: 0 auto;
            @extend %df;
            @extend %fw;

            &-title {
                width: 100%;
                @extend %regularbold35px;
                line-height: normal;
            }
            &-description {
                margin: 20px 0 40px 0;
                @extend %regular14lh;
                line-height: normal;
            }
        }
    }
</style>
