<template>
    <div
        @mouseover="$emit('mouseover')"
        @mouseleave="$emit('mouseleave')"
        @click="$emit('click')"
        :class="{'v-slider-item__selected': isActive === true}"
        :data-block="dataBlock"
        class="v-slider-item v-slider-item__show"
    >
        <div class="v-slider-item__container">
            <div class="v-slider-item__wrapper-view">
                <img :src="img"
                     alt="Type">
            </div>
            <div class="v-slider-item__wrapper-title">
                <p>{{$t(title)}}</p>
            </div>
        </div>
        <div class="v-slider-item__open" :class="{'v-slider-item__open--active': isActive}">
            <p>&#10095;</p>
        </div>
    </div>
</template>

<script>
 export default {
  name: "ServiceSlider",
  props: {
   dataBlock: {
    type: String,
   },
   title: {
    type: String,
   },
   img: {
    type: String,
   },
   isActive: {
    type: Boolean,
   },
  },
 }
</script>

<style lang="scss">
    .v-slider-item {
        box-shadow: 0 7px 16px rgba(8, 14, 72, 0.1);
        position: relative;
        border-radius: 5px;
        margin-top: 40px;
        background: $white;
        transition: all .5s;
        height: 220px !important;
        cursor: pointer;
        &__selected {
            box-shadow: none !important;
            border: 1px solid lightgrey;
            &:hover {
                box-shadow: none;
            }
        }
        &:hover {
            box-shadow: 10px 25px 19px rgba(8, 14, 72, 0.15);
        }

        &:hover .v-slider-item__open {
            display: block;
            opacity: 1;
        }

        &__container {
            height: 227px;
            max-width: 320px;
            text-align: center;
            @extend %df;
            @extend %fdc;
            @extend %jcc;
            @extend %aic;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px;
        }

        &__wrapper {
            &-view {
                height: 55px;
                width: 100%;
                margin-bottom: 10px;
            }

            &-title {
                margin-top: 10px;
                height: 30%;
                p {
                    @extend %regularbold20px;
                    color: $blue;
                    font-size: 10px;
                    line-height: normal;
                }
            }
        }

        &__open {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $blue;
            padding: 7px 12px;
            color: $white;
            border-top-right-radius: 5px;
            opacity: 0;
            cursor: pointer;
            transition: all .55s;
            &--active {
                display: none;
            }
        }
    }
</style>
