<template>
    <section id="home" class="v-start-page"  :class="{'v-start-page--active' : isShowMenu === true}">
        <div class="v-start-page__container">
            <div v-if="!isShowMenu" data-aos="fade-up"
                 data-aos-duration="700"
                 class="v-start-page__title">
                <div class="v-start-page__title-item">
                    <p>
                        {{ $t("startPage.title")}}
                    </p>
                    <span class="v-start-page__title-item-name">
                        {{ $t("startPage.name")}}
                    </span>
                </div>
                <div class="v-start-page__title-tag">
                    <p>
                        {{ $t("startPage.about")}}
                    </p>
                </div>
                <div class="v-start-page__title-btn">
                    <button>{{ $t("btn.try")}}</button>
                </div>
            </div>
            <div v-if="!isShowMenu" class="v-start-page__video">
                <video class="v-start-page__video-item" autoplay loop muted src="mp_4/1_s.mp4"></video>
            </div>
            <div v-if="isShowMenu"
                 data-aos="fade-up"
                 data-aos-duration="1000"
                 class="v-start-page__mobile-menu"
            >
                <nav>
                    <ul>
                        <li>
                            <a @click="event => openSection(event, '#service')" class="v-start-page__mobile-menu-link" href="#service">
                                {{ $t("header.service")}}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#roadmap')" class="v-start-page__mobile-menu-link"  href="#roadmap">
                                {{ $t("header.roadmap") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#portfolio')" class="v-start-page__mobile-menu-link"  href="#portfolio">
                                {{ $t("header.portfolio") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#team')" class="v-start-page__mobile-menu-link"  href="#team">
                                {{ $t("header.team") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#faq')" class="v-start-page__mobile-menu-link"  href="#faq">
                                {{ $t("header.faq") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#partners')" class="v-start-page__mobile-menu-link"  href="#partners">
                                {{ $t("header.partners")}}
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="v-start-page__contact">
                    <a href="#">
                        {{ $t("btn.contact")}}
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
 import EventBus from "../event-bus";

 export default {
  name: "StartUp",
  mounted() {
   EventBus.$on("TOGGLE_MENU", ({isOpen}) => {
    this.isShowMenu = isOpen;
   });
  },
  data() {
   return {
    isShowMenu: false,
   };
  },
  methods: {
   openSection(event, section) {
    EventBus.$emit('OPEN_SECTION', { event, section });
   }
  }
 }
</script>

<style lang="scss">
    .v-start-page {
        padding-top: 71px;
        background-color: $black;
        height: 69vh;
        z-index: 5;

        &--active {
            position: fixed;
            width: 100%;
            z-index: 40;
            padding-top: 0;
        }

        &:after {
            content: "";
            position: absolute;
            left: -200px;
            top: 0;
            width: 1258px;
            height: 567px;
            background: url("../../public/img/start-page/bg.png") center no-repeat;
            z-index: 1;
        }

        &__contact a {
            display: none;
            @extend %btnwhiteborder;
        }

        &__container {
            margin: 0 auto;
            @extend %df;
            @extend %jcsb;
            @extend %aic;
            padding: 0;
            height: 100%;
            z-index: 10;
        }

        &__mobile-menu {
            margin: 0;
            width: 100%;
            z-index: 10;
            ul {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 100%;
                line-height: 40px;
            }
            li {
                cursor: pointer;
                &:hover {
                    color: $blue;
                }
            }
            &-link {
                text-align: left;
                @extend %regular;
                color: $white;
                cursor: pointer;
                z-index: 20;
                margin-bottom: 20px;
                &:hover {
                    color: $blue;
                }
            }
        }

        &__title {
            z-index: 20;
            color: $white;
            height: rem(280);
            @extend %df;
            @extend %aic;
            @extend %fdc;

            &-item {
                width: 100%;
                text-align: left;
                line-height: normal;
                @extend %regular20px;

                &-name {
                    @extend %regularbold40px;
                }
            }

            &-tag p {
                margin-top: 10px;
                padding: 5px 20px;
                @extend %regular14lh;
                line-height: normal;
                border-left: 3px solid $blue;
            }

            &-btn {
                margin-top: rem(40);
                text-align: left;
                width: 100%;

                button {
                    @extend %btnfullblue;
                    @extend %regular;
                }
            }
        }

        &__video {
            width: 50%;

            &-item {
                width: 442px;
            }
        }
    }
</style>
