<template>
    <section id="team">
        <div class="c-team">
            <div class="c-team__container">
                <div class="c-team__title">
                    <h2 class="c-team__title-tag">{{$t('team.title')}}</h2>
                </div>
                <div class="c-team__wrapper">
                    <Team @open="openTeamModal(worker)"
                          v-for="worker of workers"
                          :img="worker.img"
                          :name="worker.name"
                          :surname="worker.surname"
                          :description="worker.description"
                    />
                    <Modal v-if="activeTeam"
                           @close="closeTeamModal"
                    >
                        <div slot="body" class="c-slot">
                            <div class="c-slot__img">
                                <img class="c-slot__img-avatar" :src="activeTeam.img" alt="activeTeam.name">
                            </div>
                            <div class="c-slot__info">
                                <p class="c-slot__info-name">{{$t(activeTeam.name)}}&nbsp;{{$t(activeTeam.surname)}}</p>
                                <p class="c-slot__info-description">{{$t(activeTeam.description)}}</p>
                                <p class="c-slot__info-about">{{$t(activeTeam.about)}}</p>
                            </div>
                        </div>
                    </Modal>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
 import Team from "../components/Team";
 import Modal from "../components/Modal";

 export default {
  name: "Teams",
  components: {Modal, Team},
  data() {
   return {
    workers: [
     {
      img: 'img/team/team1.png',
      name: 'Wilhelm',
      surname: 'Gudelow',
      description: 'Founder / Chief Executive Officer',
      about:'team.alexDescription',
     },
     {
      img: 'img/team/team2.png',
      name: 'Tray',
      surname: 'Petrovsky',
      description: 'Co-Founder / Chief Legal Officer',
      about: 'team.trayDescription',
     },
     {
      img: 'img/team/team3.png',
      name: 'Fynn',
      surname: 'Bergström',
      description: 'Entrepreneur / Chief Operating Officer',
      about: 'team.fynnDescription',
     },
     {
      img: 'img/team/team4.png',
      name: 'Kevin',
      surname: 'Rye',
      description: 'Entrepreneur / Сhief Compliance Officer',
      about: 'team.kevinDescription',
     },
     {
      img: 'img/team/team5.png',
      name: 'Chih-Ming',
      surname: 'Tseng',
      description: 'Chief Technology Officer',
      about: 'team.chihDescription',
     },
     {
      img: 'img/team/team6.png',
      name: 'Hu',
      surname: 'Ting',
      description: 'Chief Analytics Officer',
      about: 'team.huDescription',
     },
     {
      img: 'img/team/team7.png',
      name: 'Elena',
      surname: 'Ovchinnikova',
      description: 'Chief Networking Officer',
      about: 'team.elenaDescription',
     },
     {
      img: 'img/team/team8.png',
      name: 'Fernando',
      surname: 'Zavertailo',
      description: 'Chief Marketing Officer',
      about: 'team.fernardoDescription',
     },
    ],
    activeTeam: null,
   }
  },
  methods: {
   openTeamModal(team) {
    this.activeTeam = team;
   },
   closeTeamModal() {
    this.activeTeam = null;
   },
  },
 }
</script>

<style lang="scss">
    .c-team {
        margin-top: 145px;

        &__container {
            max-width: 865px;
            margin: 0 auto;
        }

        &__title {
            &-tag {
                @extend %regularbold35px;
            }
        }

        &__wrapper {
            @extend %df;
            @extend %aic;
            @extend %jcfs;
            @extend %fw;
        }
    }
    .c-slot {
        @extend %df;
        @extend %aic;
        @extend %jcsa;
        &__img {
            height: 100%;
            width: 20%;
            &-avatar {
                width: 148px;
                height: 153px;
                object-fit: contain;
            }
        }
        &__info {
            width: 70%;
            @extend %df;
            @extend %fdc;
            &-name {
                margin-bottom: 24px;
            }
            &-description {
                color: rgba(8,14,72,.4);
                margin-bottom: 30px;
            }
        }
    }
</style>
