<template>
    <div class="v-steps" data-aos="fade-up" data-aos-mirror="false" data-aos-duration="1000">
        <div class="v-steps__view">
            <video :src="video" autoplay muted></video>
        </div>
        <div class="v-steps__content">
            <h2 class="v-steps__content-number">{{number}}</h2>
            <h2 class="v-steps__content-title">{{$t(title)}}</h2>
            <p class="v-steps__content-text">{{$t(text)}}</p>
        </div>
    </div>
</template>

<script>
 export default {
  name: "Steps",
  props: {
   number: {
    type: String,
   },
   title: {
    type: String,
   },
   video: {
    type: String,
   },
   text: {
    type: String,
   },
  },
 }
</script>

<style lang="scss">
    .v-steps {
        width: 100%;
        height: 100%;
        @extend %df;
        @extend %jcsb;
        @extend %aic;

        &:not(last-child) {
            margin-bottom: 65px;
        }

        &:nth-child(3) {
            margin-top: 2.65rem;
        }

        &__view {
            width: 50%;
            height: 100%;
            @extend %df;
            @extend %jcfs;
        }

        &__view video {
            width: 228px;
            height: 222px;
            object-fit: contain;
        }

        &__content {
            width: 50%;
            height: 100%;
            margin-left: 22px;

            &-number {
                font-size: rem(50);
                @extend %proximablack;
                color: $lgray;
            }

            &-title {
                @extend %regular16bold;
                line-height: normal;
                margin: 15px 0;
                color: $blue;
            }

            &-text {
                border-left: 3px solid $blue;
                padding-left: 20px;
                @extend %regular14lh;
                line-height: normal;
            }
        }
    }
</style>
