@include bp(1920px) {
  .c-header {
    padding: 20px 0;

    &__container {
      max-width: 1300px;
      justify-content: space-between;
    }

    &__right-holder {
      justify-content: center;

      &-language {
        margin-right: 37px;
      }
      &-contact a {
        font-size: 16px;
        width: 220px;
        text-align: center;
        padding: 10px 20px;
      }
    }

    &__left-holder {
      &-logo {
        img {
          width: 25px;
          height: 25px;
        }

        &-title {
          font-size: rem(18.5);
          letter-spacing: .4px;
        }
      }

      &-nav {
        &-wrapper {
          &-link {
            color: $white;
            font-size: 16px;
            transition: none;
            &:hover {
              border-bottom: 3px solid #1c30fa;
              color: #1c30fa;
              padding-bottom: rem(20);
            }
          }
        }
      }
    }
  }
}
