@include bp(800px) {
 .c-header {
   &__container {
     justify-content: space-around;
     max-width: 670px;
     align-items: center;
   }
   &__right-holder {
     &-language {
       &-item {
         margin-right: 20px;
       }
     }
   }
  }
}
