@include bp(950px) {
  .c-header {
    &__container {
      max-width: 750px;

    }
    &__right-holder {
      width: 50%;
      &-language {
        &-item {
          margin-right: 20px;
        }
      }
    }
    &__left-holder-nav {
      display: none;
    }
    &__nav-menu {
      display: block;
      margin-left: 20px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
