@include bp(1300px) {
  .c-header {
    &__container {
      max-width: 850px;
    }

    &__right-holder {
      &-contact {
        a {
          padding: 7px 12px;
        }
      }
      &-language {
        margin-right: 20px;
      }
    }

    &__left-holder {
      &-logo {
        &-title {
          font-size: 14px;
        }

        &-item {
          width: 20px;
          height: 20px;
        }
      }

      &-nav-wrapper-link {
        font-size: 14px;
      }
    }
  }
}
