@include bp(600px) {
  .c-header {
    &__container {
      max-width: 400px;
      align-items: center;
    }

    &__right-holder {
      &-contact {
        display: none;
      }
    }

    &__left-holder {
      margin-right: 15px;

      &-logo {
        margin: 0;

        &-item {
          width: 18px;
          height: 18px;
        }

        &-title {
          font-size: 12px;
        }
      }
    }
  }
}

