@include bp(476px) {
  .c-header {
    width: 100%;
    &__container {
      max-width: 280px;
      justify-content: space-between;
    }
    &__nav-menu {
      margin: 0;
      &-img {
        width: 25px;
        height: 25px;
      }
    }
    &__left-holder {
    margin-right: 15px;
      &-logo {
        margin: 0;
        &-item {
          width: 18px;
          height: 18px;
        }
        &-title {
          font-size: 12px;
        }
      }
    }
    &__right-holder {
      &-language {
        margin-right: 0;
      }
    }
  }
}
