<template>
    <section id="portfolio">
        <div class="c-auto-slider">
            <div ref="portfolio">
                <h2 class="c-auto-slider__title">{{ $t("projects.title")}}</h2>
                <p class="c-auto-slider__description">{{ $t("projects.description")}}</p>
            </div>
            <swiper ref="mySwiper" :options="swiperOptions">
                <swiper-slide class="c-auto-slider__swiper" v-for="slide of slides">

                    <SliderItem
                            @mouseover="stopSlider"
                            @mouseleave="startSlider"
                            :logo="slide.logo"
                            :diagram="slide.diagram"
                            :description="slide.description"
                            :title="slide.title"
                    />

                </swiper-slide>
            </swiper>
        </div>
    </section>
</template>

<script>
 import {Swiper, SwiperSlide, directive} from 'vue-awesome-swiper'
 import SliderItem from "../view/autoSlider/SliderItem";

 export default {
  name: "AutoSlider",
  components: {
   SliderItem,
   Swiper,
   SwiperSlide,
  },
  computed: {
   swiper() {
    return this.$refs.mySwiper.swiperInstance;
   },
   swiperOptions() {
    return {
     slidesPerView: this.slidesPerView,
     spaceBetween: 20,
     slidesPerGroup: 1,
     loop: true,
     loopFillGroupWithBlank: true,
     speed: 950,
     autoplay: {
      enabled: true,
      delay: 500,
      timeout: 0,
      waitForTransition: true,
      disableOnInteraction: false,
      stopOnLastSlide: false,
      reverseDirection: false,
     },
     navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
     },
    };
   }
  },
  directives: {
   swiper: directive
  },

  data() {
   return {
    slidesPerView: 5,
    slides: [
     {
      logo: 'img/autoSlider/zeepin/zeepin-logo.png',
      title: 'Zeepin (ZPT)',
      description: 'max $ 0,016431',
      diagram: 'img/autoSlider/zeepin/zeepin-d.png',
     },
     {
      logo: 'img/autoSlider/diamond/diamond.png',
      title: 'Diamond (DMD)',
      description: 'max $ 34,16',
      diagram: 'img/autoSlider/diamond/diamond-d.png',
     },
     {
      logo: 'img/autoSlider/sophia/sophia.png',
      title: 'SophiaTX (SPHTX)',
      description: 'max $ 1,396191',
      diagram: 'img/autoSlider/sophia/sophia-d.png',
     },
     {
      logo: 'img/autoSlider/blue/blue.png',
      title: 'Blue Protocol',
      description: 'max $ 1,960765',
      diagram: 'img/autoSlider/blue/blue-d.png',
     },
     {
      logo: 'img/autoSlider/sib/sib.png',
      title: 'SIBCoin (SIB)',
      description: 'max $ 5,204039',
      diagram: 'img/autoSlider/sib/sib-d.png',
     },
     {
      logo: 'img/autoSlider/stox/stox.png',
      title: 'Stox (STX)',
      description: 'max $ 2,605530',
      diagram: 'img/autoSlider/stox/stox-d.png',
     },
     {
      logo: 'img/autoSlider/myriad/myriad.png',
      title: 'Myriad (XMY)',
      description: 'max $ 0,049316',
      diagram: 'img/autoSlider/myriad/myriad-d.png',
     },
     {
      logo: 'img/autoSlider/lbr/book.png',
      title: 'LBRY Credits',
      description: 'max $ 1,232808',
      diagram: 'img/autoSlider/lbr/book-d.png',
     },
    ],
   }
  },
  methods: {
   calcCountAutoSlides() {
    const width = window.outerWidth;
    let slidesPerView = 5;

    if (width < 1500) {
     slidesPerView = 5;
    } else if (width < 1921) {
     slidesPerView = 7;
    } else if (width > 610) {
     slidesPerView = 4;
    } else if (width > 319 && width < 500) {
     slidesPerView = 2;
    } else {
     slidesPerView = 3;
    }

    if (slidesPerView !== this.slidesPerView) {
     this.slidesPerView = slidesPerView;
     this.$nextTick(() => {
      this.$refs.mySwiper.destroySwiper();
      this.$refs.mySwiper.initSwiper();
     });
    }
   },
   setMargins() {
    const headerLogo = document.querySelector('.c-header__left-holder-logo-item');
    const left = headerLogo.getBoundingClientRect().x;
    this.$refs.portfolio.style['margin-left'] = `${left}px`;
   },
   stopSlider() {
    this.$refs.mySwiper.swiperInstance.autoplay.stop();
   },
   startSlider() {
    this.$refs.mySwiper.swiperInstance.autoplay.start();
   },
  },
  mounted() {
   this.setMargins();
   this.calcCountAutoSlides();
   window.addEventListener('resize', () => {
    this.setMargins();
    this.calcCountAutoSlides();
   });
  }
 }
</script>

<style lang="scss">
    .c-auto-slider {
        margin-top: 110px;
        height: 100%;

        .swiper-container {
            height: 330px;
        }

        &__title {
            color: $black;
            @extend %regularbold35px;
        }

        &__description {
            @extend %regular14lh;
            line-height: normal;
            font-size: rem(14);
        }
    }
</style>
