<template>
    <div class="c-footer">
        <div class="c-footer__container">
            <div class="c-footer__content">
                <div class="c-footer__content-logo">
                    <img src="img/footer/logo.png" alt="logo">
                </div>
                <div class="c-footer__content-rules">
                    <p class="c-footer__content-rules-item">{{ $t("footer.rules")}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
  name: "Footer"
 }
</script>

<style lang="scss">
    .c-footer {
        width: 100%;
        height: max-content;
        margin-top: 70px;
        background: linear-gradient(170deg, rgba(9, 16, 76, 1), rgba(0, 0, 0, 0.95) 90.91%);

        &__container {
            max-width: 865px;
            margin: 0 auto;
        }
        &__content {
            @extend %df;
            @extend %jcsb;
            @extend %aic;
            padding: 30px 0;
            &-rules {
                &-item {
                    color: $white;
                    @extend %regular16lh;
                    line-height: normal;
                }
            }
        }
    }
</style>
