<template>
    <div class="c-header">
        <div class="c-header__container">
            <div class="c-header__left-holder">
                <div class="c-header__left-holder-logo">
                    <a class="c-header__left-holder-logo" @click="event => openSection(event, '#home')" href="#home">
                        <img src="img/header/logo.png" class="c-header__left-holder-logo-item" alt="logo">
                        <p class="c-header__left-holder-logo-title">CTG Blockchain GmbH</p>
                    </a>
                </div>
                <nav class="c-header__left-holder-nav">
                    <ul class="c-header__left-holder-nav-wrapper">
                        <li>
                            <a @click="event => openSection(event, '#service')" class="c-header__left-holder-nav-wrapper-link" href="#service" >
                                {{ $t("header.service")}}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#roadmap')" class="c-header__left-holder-nav-wrapper-link" href="#roadmap">
                                {{ $t("header.roadmap") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#portfolio')" class="c-header__left-holder-nav-wrapper-link" href="#portfolio">
                                {{ $t("header.portfolio") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#team')" class="c-header__left-holder-nav-wrapper-link" href="#team">
                                {{ $t("header.team") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#faq')" class="c-header__left-holder-nav-wrapper-link" href="#faq">
                                {{ $t("header.faq") }}
                            </a>
                        </li>
                        <li>
                            <a @click="event => openSection(event, '#partners')" class="c-header__left-holder-nav-wrapper-link" href="#partners">
                                {{ $t("header.partners")}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="c-header__right-holder">
                <div class="c-header__right-holder-language">
                    <img class="c-header__right-holder-language-item"
                         @click="isShowLanguages = !isShowLanguages"
                         src="img/header/lang.png"
                         alt="language"
                    >
                    <div class="c-header__right-holder-language-hidden"
                         :class="{'c-header__right-holder-language-hidden--active':
                         isShowLanguages === true}"
                    >
                        <ul>
                            <li
                                    class="c-header__right-holder-language-hidden-link"
                                    v-for="language in languages"
                                    @click="setLanguage(language.code)"
                            >
                                {{ language.name }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="c-header__right-holder-contact">
                    <a @click="event => openSection(event, '#cooperation')" href="#cooperation">
                        {{ $t("btn.contact")}}
                    </a>
                </div>
                <div class="c-header__nav-menu" @click="emitChangeMenu(!isShowMenu)">
                    <img v-if="!isShowMenu"  src="img/header/burger.png" alt="burger">
                    <img v-if="isShowMenu"  src="img/header/close.png" alt="burger">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
 import EventBus from '@/event-bus';
 export default {
  name: "Header",
  data() {
   return {
    isShowLanguages: false,
    isShowMenu: false,
    languages: [
     {
      code: 'en',
      name: 'English',
     },
     {
      code: 'ru',
      name: 'Русский',
     },
     {
      code: 'de',
      name: 'Deutsch',
     },
     {
      code: 'cn',
      name: '中文語言',
     },
     {
      code: 'es',
      name: 'Español',
     },
    ],
   };
  },
  methods: {
   async openSection(event, selector) {
    event.preventDefault();
    this.emitChangeMenu(false);
    let element = document.querySelector(selector);
    let count = 100;
    let top = window.scrollY + element.getBoundingClientRect().y;
    console.log(element.getBoundingClientRect(), [element]);
    let start_top = window.scrollY;
    let delta = (top - window.scrollY) / 100;
    for (let i=1;i<100; i++) {
     await new Promise(resolve => {
      window.setTimeout(function () {
       resolve()
      }, 1000 / count)
     });
     window.scrollTo(0, start_top + delta * i)
    }

    history.pushState(null, null, selector);
   },
   setLanguage(code) {
    this.$i18n.locale = code;
    localStorage.setItem('locale', code);
   },
   emitChangeMenu (isShowMenu) {
    this.isShowMenu = isShowMenu;
    EventBus.$emit('TOGGLE_MENU', { isOpen:  this.isShowMenu});
    const body = document.querySelector('body');
    if (this.isShowMenu) {
     body.style.overflow = 'hidden';
    } else {
     body.removeAttribute('style');
    }
   }
  },
  created() {
   document.addEventListener('click', (e) => {
    if (e.target.classList.contains('c-header__right-holder-language-item')) {
     return;
    }
    this.isShowLanguages = false;
   });

   EventBus.$on('OPEN_SECTION', ({ event,section }) => {
    this.openSection(event, section);
   });

   if (!localStorage.getItem('locale')) {
    const onSuccessLanguage = (location) => {
     const language = this
      .languages
      .find(foundLang => foundLang.code.toLowerCase() === location.country.iso_code.toLowerCase());

     this.setLanguage(language ? language.code : 'en');
    };

    geoip2.city(onSuccessLanguage);
   }
  }
 }
</script>


<style lang="scss">
    .c-header {
        position: fixed;
        width: 100%;
        color: $white;
        background-color: $black;
        padding: 18.7px 0;
        z-index: 50;
        &__container {
            max-width: 865px;
            margin: 0 auto;
            @extend %df;
            @extend %jcsb;
            @extend %aic;
        }

        &__nav-menu {
            display: none;
        }

        &__left-holder {
            @extend %df;
            @extend %jcsb;
            @extend %aic;

            &-nav {
                &-wrapper {
                    @extend %df;
                    @extend %aic;

                    &-link {
                        color: $white;
                        @extend %regular;
                        font-size: rem(14);
                        transition: none;

                        &:hover {
                            border-bottom: 3px solid #1c30fa;
                            color: #1c30fa;
                            padding-bottom: rem(20);
                        }

                        &:not(last-child) {
                            margin-right: 19px;
                        }
                    }
                }
            }

            &-logo {
                @extend %df;
                @extend %aic;
                color: $white;
                margin-right: 40px;
               @extend %regularbold14lh;
                width: max-content;

                &-item {
                    width: 23px;
                    height: 25px;
                    margin-right: 5px;
                }

                &-title {
                    @extend %regularbold14lh;
                }
            }
        }

        &__right-holder {
            @extend %df;
            @extend %jcsb;
            @extend %aic;
            width: 22%;

            &-language {
                &-item {
                    width: 23px;
                    height: 23px;
                    cursor: pointer;
                }

                &-hidden {
                    opacity: 0;
                    height: 0;
                    width: 100px;
                    transition: opacity .3s;
                    top: 70px;
                    background: $black;
                    position: absolute;
                    padding: 15px;
                    display: none;

                    &--active {
                        cursor: pointer;
                        height: max-content;
                        display: block;
                        width: 100px;
                        opacity: 1;
                        box-shadow: 0 13px 79px rgba(28, 48, 250, 0.5);
                    }

                    li {
                        &:not(last-child) {
                            margin-bottom: 5px;
                        }
                    }

                    &-link {
                        color: $white;
                        cursor: pointer;
                        @extend %regular14lh;

                        &:hover {
                            color: $blue;
                        }
                    }
                }
            }

            &-contact a {
                display: block;
                @extend %btnwhiteborder;
                @extend %regular14lh;
                line-height: normal;
            }
        }
    }
</style>
