<template>
    <div class="c-messenger">
        <label :for="id" class="c-messenger__wrapper" :class="{'c-messenger__wrapper--checked': isChecked === true}">
            <img v-if="!isChecked" :src="img" alt="Messenger">
            <img v-if="isChecked" src="img/messengers/checked.png" alt="Checked">
            <input v-model="isChecked" :id="id" type="checkbox" class="c-messenger__checkbox">
            <p class="c-messenger__title">{{title}}</p>
        </label>
    </div>
</template>

<script>
 export default {
  name: "Messenger",
  data() {
   return {
    isChecked: false,
   };
  },
  props: {
   id: {
    type: String,
   },
   img: {
    type: String,
   },
   title: {
    type: String,
   },
  },
 }
</script>

<style lang="scss">
    .c-messenger {
        &__wrapper {
            @extend %df;
            @extend %aic;
            @extend %jcsa;
            padding: 3px 5px;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 5px 12px rgba(8, 14, 72, 0.15);
            transition: all .2s;
            border: 1px solid $white;

            &--checked {
                border: 1px solid #aeb0c3;
                box-shadow: none;
            }

            img {
                width: 15px;
                height: 15px;
            }

            &:not(last-child) {
                margin-right: 20px;
            }

        }

        &__checkbox {
            width: 0;
            height: 0;
            opacity: 0;
        }

        &__title {
            @extend %regular14lh;
            line-height: normal;
            color: $black;
            user-select: none;
        }
    }
</style>
