<template>
    <transition name="modal">
        <div @click="closeOverflow" class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button" @click="$emit('close')">
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
 export default {
  name: "Modal",
  methods: {
   closeOverflow(event) {
    if (event.target.classList.contains('modal-wrapper')) {
     this.$emit('close');
    }
   }
  }
 }
</script>

<style lang="scss">
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        position: relative;
        width: 50rem;
        height: max-content;
        margin: 0 auto;
        padding: 40px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
       @extend %regular;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
        position: relative;
    }

    .modal-default-button {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        -webkit-box-shadow: 0 17px 27px 0 rgba(28,48,250,.18);
        box-shadow: 0 17px 27px 0 rgba(28,48,250,.18);
        background-color: #fff;
        position: absolute;
        top: 28px;
        left: -webkit-calc(100% - 72px);
        left: calc(100% - 72px);
        -webkit-transition: .2s ease-in;
        -o-transition: .2s ease-in;
        transition: .2s ease-in;
        &:hover {
            -webkit-box-shadow: 0 5px 10px 0 rgba(28,48,250,.18);
            box-shadow: 0 5px 10px 0 rgba(28,48,250,.18);
        }
        &:before {
            color: #1c30fa;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @extend %regular;
            font-size: 25px;
            line-height: 35px;
            position: absolute;
            display: block;
            width: 35px;
            content: "\00d7";
            text-align: center;
        }

    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

</style>
