<template>
    <section id="roadmap">
        <div class="c-roadmap">
            <div class="c-roadmap__container">
                <div class="c-roadmap__holder">
                    <h2>{{ $t("roadmap.title")}}</h2>
                </div>
                <div class="c-roadmap__wrapper">
                    <Steps v-for="step of steps"
                           :number="step.number"
                           :title="step.title"
                           :text="step.text"
                           :video="step.video"
                    />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
 import Steps from "../view/roadmap/Steps";

 export default {
  name: "Roadmap",
  components: {Steps},
  data() {
   return {
    steps: [
     {
      number: '01',
      title: "roadmap.contact",
      text: "roadmap.contactTitle",
      video: 'mp_4/roadmap_1.mp4',
     },
     {
      number: '02',
      title: "roadmap.working",
      text: "roadmap.workingTitle",
      video: 'mp_4/roadmap_2-.mp4',
     },
     {
      number: '03',
      title: "roadmap.benefits",
      text: "roadmap.benefitsTitle",
      video: 'mp_4/Roadmap_3.mp4',
     },
    ],
   }
  },
 }
</script>

<style lang="scss">
    .c-roadmap {
        margin-top: 6rem;

        &__container {
            margin: 0 auto;
            @extend %df;
            @extend %jcsb;
            @extend %aic;
            @extend %fw;
        }

        &__holder {
            display: grid;
            grid-template-areas: 'first second';
            grid-template-columns: 1fr 1fr;
            width: 100%;
            margin-left: 0;
            margin-bottom: 50px;
        }

        &__holder h2 {
            @extend %regularbold35px;
            letter-spacing: .6px;
            grid-area: second;
        }

        &__wrapper {
            @extend %df;
            @extend %fdc;
        }
    }
</style>
