<template>
    <section id="service" class="c-service-section">
        <div class="c-service" data-aos="fade-up" data-aos-duration="700">
            <div class="c-service__title">
                <div class="c-service__arrow" ref="service">
                    <h2>{{ $t("service.title")}}</h2>
                    <div class="c-service__arrow-wrapper">
                        <div class="swiper-button-next" slot="navigation">
                            <svg class="c-service__arrow-img" xmlns="http://www.w3.org/2000/svg" width="12" height="20"
                                 viewBox="0 0 12 20">
                                <defs>
                                    <clipPath id="v4loa">
                                        <path fill="#fff" d="M1 1l9 9-9 9"/>
                                    </clipPath>
                                </defs>
                                <g>
                                    <g>
                                        <path class="c-service__arrow-img" fill="none" stroke="#1c30fa" stroke-miterlimit="20" stroke-width="4"
                                              d="M1 1v0l9 9v0l-9 9v0" clip-path="url(&quot;#v4loa&quot;)"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="swiper-button-prev" slot="navigation">
                            <svg class="c-service__arrow-img" xmlns="http://www.w3.org/2000/svg" width="12" height="20"
                                 viewBox="0 0 12 20">
                                <defs>
                                    <clipPath id="9ew6a">
                                        <path fill="#fff" d="M11 19l-9-9 9-9"/>
                                    </clipPath>
                                </defs>
                                <g>
                                    <g>
                                        <path class="c-service__arrow-img" fill="none" stroke="#1c30fa" stroke-miterlimit="20" stroke-width="4"
                                              d="M11 19v0l-9-9v0l9-9v0" clip-path="url(&quot;#9ew6a&quot;)"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>

                <swiper class="c-service__swiper" ref="mySwiper" :options="swiperOptions">
                    <swiper-slide class="c-service__slider" v-for="serviceSlider of serviceSliders">
                        <ServiceSlider
                                @mouseover="stopSlider"
                                @mouseleave="startSlider"
                                @click="isActive = serviceSlider.dataBlock"
                                :data-block="serviceSlider.dataBlock"
                                :title="serviceSlider.title"
                                :img="serviceSlider.img"
                                :is-active="isActive === serviceSlider.dataBlock"
                        />
                    </swiper-slide>
                </swiper>
            </div>
            <div ref="hide">
                <HideBlock
                        v-for="hideBlock of hideBlocks"
                        class="c-service__hide-block"
                        :title="hideBlock.title"
                        :text="hideBlock.text"
                        :img="hideBlock.img"
                        v-show="isShowBlock === hideBlock.name"
                />
            </div>
        </div>
    </section>
</template>

<script>
 import {Swiper, SwiperSlide, directive} from 'vue-awesome-swiper'
 import HideBlock from "../view/service/HideBlock";
 import ServiceSlider from "../view/ServiceSlider";

 export default {
  name: "Services",
  components: {
   ServiceSlider,
   HideBlock,
   Swiper,
   SwiperSlide
  },
  directives: {
   swiper: directive
  },
  data() {
   return {
    isShowBlock: 'ieo',
    slidesPerView: 5,
    isActive: 'ieo',
    hideBlocks: [
     {
      title: 'service.slider.ieo',
      text: 'service.slider.ieoTitle',
      img: 'img/service/hide/ieo.png',
      name: 'ieo',
     },
     {
      title: 'service.slider.ico',
      text: 'service.slider.icoTitle',
      img: 'img/service/hide/ico.png',
      name: 'ico',
     },
     {
      title: 'service.slider.square',
      text: 'service.slider.squareTitle',
      img: 'img/service/hide/crypt.png',
      name: 'square',
     },
     {
      title: 'service.slider.marketing',
      text: 'service.slider.marketingTitle',
      img: 'img/service/hide/Marketing_.png',
      name: 'marketing',
     },
     {
      title: 'service.slider.squareCrypt',
      text: 'service.slider.squareCryptTitle',
      img: 'img/service/hide/cryptoMark.png',
      name: 'squareCrypt',
     },
     {
      title: 'service.slider.eco',
      text: 'service.slider.ecoTitle',
      img: 'img/service/hide/cube.png',
      name: 'eco',
     },
     {
      title: 'service.slider.burger',
      text: 'service.slider.burgerTitle',
      img: 'img/service/hide/circle.png',
      name: 'burger',
     },
     {
      title: 'service.slider.partners',
      text: 'service.slider.partnersTitle',
      img: 'img/service/hide/partners.png',
      name: 'partners',
     },
     {
      title: 'service.slider.otc',
      text: 'service.slider.otcTitle',
      img: 'img/service/hide/otc.png',
      name: 'otc',
     },
     {
      title: 'service.slider.house',
      text: 'service.slider.houseTitle',
      img: 'img/service/hide/houses.png',
      name: 'house',
     },
    ],
    serviceSliders: [
     {
      dataBlock: 'ieo',
      title: 'service.slider.ieo',
      img: 'img/service/ieo.png',
      className: 'v-slider-item__wrapper-view-ieo',
     },
     {
      dataBlock: 'ico',
      title: 'service.slider.ico',
      img: 'img/service/ico.png',
      className: 'v-slider-item__wrapper-view-ico',
     },
     {
      dataBlock: 'square',
      title: 'service.slider.square',
      img: 'img/service/square.png',
      className: 'v-slider-item__wrapper-view-square',
     },
     {
      dataBlock: 'marketing',
      title: 'service.slider.marketing',
      img: 'img/service/market.png',
      className: 'v-slider-item__wrapper-view-market',
     },
     {
      dataBlock: 'eco',
      title: 'service.slider.eco',
      img: 'img/service/square-crypt.png',
      className: 'v-slider-item__wrapper-view-crypt',
     },
     {
      dataBlock: 'burger',
      title: 'service.slider.burger',
      img: 'img/service/burger.png',
      className: 'v-slider-item__wrapper-view-crypt',
     },
     {
      dataBlock: 'partners',
      title: 'service.slider.partners',
      img: 'img/service/partners.png',
      className: 'v-slider-item__wrapper-view-crypt',
     },
     {
      dataBlock: 'otc',
      title: 'service.slider.otc',
      img: 'img/service/otc.png',
      className: 'v-slider-item__wrapper-view-crypt',
     },
     {
      dataBlock: 'house',
      title: 'service.slider.house',
      img: 'img/service/house.png',
      className: 'v-slider-item__wrapper-view-crypt',
     },
    ],
   }
  },
  computed: {
   swiper() {
    return this.$refs.mySwiper.swiperInstance;
   },
   swiperOptions() {
    return {
     slidesPerView: this.slidesPerView,
     spaceBetween: 20,
     slidesPerGroup: 1,
     loop: true,
     loopFillGroupWithBlank: true,
     speed: 950,
     autoplay: {
      enabled: true,
      delay: 500,
      timeout: 0,
      waitForTransition: true,
      disableOnInteraction: false,
      stopOnLastSlide: false,
      reverseDirection: false,
     },
     navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
     },
    };
   }
  },
  methods: {
   addMargins() {
    const headerLogo = document.querySelector('.c-header__left-holder-logo-item');
    const left = headerLogo.getBoundingClientRect().x;
    this.$refs.service.style['margin-left'] = `${left}px`;
    this.$refs.hide.style['margin-left'] = `${left}px`;
   },
   calcCountSlides() {
    const width = window.outerWidth;
    let slidesPerView = 5;

    if (width < 1500) {
     slidesPerView = 5;
    } else if (width < 1921) {
     slidesPerView = 7;
    } else if (width > 610) {
     slidesPerView = 4;
    } else if (width > 319 && width < 500) {
     slidesPerView = 2;
    } else {
     slidesPerView = 3;
    }

    if (slidesPerView !== this.slidesPerView) {
     this.slidesPerView = slidesPerView;
     this.$nextTick(() => {
      this.$refs.mySwiper.destroySwiper();
      this.$refs.mySwiper.initSwiper();
     });
    }
   },
   stopSlider() {
    this.$refs.mySwiper.swiperInstance.autoplay.stop();
   },
   startSlider() {
    this.$refs.mySwiper.swiperInstance.autoplay.start();
   },
   setEventsOpenBlock() {
    const buttons = document.querySelectorAll('.v-slider-item__show');
    const vm = this;
    for (const button of buttons) {
     button.onclick = function () {
      vm.isShowBlock = this.dataset.block;
      console.log([this.dataset.block]);
     }
    }
   },
  },
  updated() {
   this.setEventsOpenBlock();
  },
  mounted() {
   this.swiper.slideTo(3, 100, false);
   this.setEventsOpenBlock();
   this.addMargins();
   this.calcCountSlides();
   window.addEventListener('resize', () => {
    this.addMargins();
    this.calcCountSlides();
   });
  }
 }
</script>

<style lang="scss">
    .swiper-button-next {
        top: 7.5px !important;
        left: 29px !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .swiper-button-next, .swiper-button-prev {
        border: 1px solid blue;
        width: 30px !important;
        height: 30px !important;
        user-select: none;

        &:hover {
            background: $blue;
            color: $white;
        }

        &:hover .c-service__arrow-img {
            stroke: $white !important;
        }

        &:after {
            content: none !important;
        }
    }

    .swiper-button-prev {
        left: 0 !important;
        top: 7.5px !important;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .c-service {
        padding-top: rem(77.4);
        margin-left: 0;
        overflow: hidden;
        position: relative;
        padding-bottom: 50px;

        .swiper-wrapper {
            height: 320px;
        }

        &-section {
            background-image: linear-gradient(to right, #eeeff9 0%, #ffffff 100%);
            padding-bottom: 70px;
        }

        &__title h2 {
            @extend %regularbold35px;
            letter-spacing: 1.2px;
            padding: 0;
        }

        &__swiper {
            overflow: hidden;
            margin-top: 37px;
        }

        &__arrow {
            position: relative;
            @extend %df;
            @extend %jcfs;
            @extend %aic;

            &-img {
                width: 9px;
                height: 18px;
            }

            &-wrapper {
                position: relative;
                @extend %df;
                margin-left: 32px;
            }
        }
    }
</style>
