<template>
    <div @click="$emit('open')" class="c-modal-team" data-aos="fade-up" data-aos-duration="1000">
        <div class="c-modal-team__photo">
            <img :src="img" alt="">
        </div>
        <div class="c-modal-team__credentials">
            <p class="c-modal-team__credentials-name">{{name}}</p>
            <p class="c-modal-team__credentials-surname">{{surname}}</p>
            <p class="c-modal-team__credentials-description">{{description}}</p>
        </div>
        <div class="c-modal-team__arrow">
            <p>&#10095;</p>
        </div>
    </div>
</template>

<script>
 export default {
  name: "Team",
  props: {
   img: {
    type: String,
   },
   name: {
    type: String,
   },
   surname: {
    type: String,
   },
   description: {
    type: String,
   },
  },
 }
</script>

<style lang="scss">
    .c-modal-team {
        cursor: pointer;
        position: relative;
        box-shadow: 0 11px 16px rgba(8, 14, 72, 0.1);
        transition: all .5s;
        width: 278px;
        padding: 20px 30px;
        background: $white;
        @extend %df;
        @extend %aic;
        @extend %jcsb;
        border-radius: 5px;
        &:hover .c-modal-team__arrow{
            opacity: 1;
        }
        &:hover {
            transition: all .3s;
            box-shadow: 0 10px 19px rgba(8, 14, 72, 0.15);
        }
        &:not(last-child) {
            margin-top: 20px;
            margin-right: 10px;
        }
        &__credentials {
            width: 50%;
            &-name {
                @extend %regular16bold;
                line-height: normal;
            }
            &-surname {
                @extend %regular16bold;
                line-height: normal;
            }
            &-description {
                color: $lgray;
                @extend %regular14lh;
                line-height: normal;
            }
        }
        &__photo img {
            object-fit: scale-down;
            width: 97px;
            height: 101px;
        }
        &__arrow {
            position: absolute;
            top: 0;
            right: 0;
            background: $blue;
            color: $white;
            padding: 7px 12px;
            border-top-right-radius: 5px;
            cursor: pointer;
            opacity: 0;
            transition: opacity .5s;
        }
    }
</style>
