<template>
    <div class="c-slider-item"
         @mouseover="$emit('mouseover')"
         @mouseleave="$emit('mouseleave')"
    >
        <div class="c-slider-item__header">
            <div class="c-slider-item__header-logo">
                <img class="c-slider-item__header-logo-item" :src="logo" alt="Logo">
            </div>
            <div class="c-slider-item__header-title">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
            </div>
        </div>
        <div class="c-slider-item__diagram">
            <img :src="diagram" alt="Diagram">
        </div>
    </div>
</template>

<script>
 export default {
  name: "SliderItem",
  props: {
   logo: {
    type: String,
   },
    title: {
        type: String,
    },
   description: {
    type: String,
   },
   diagram: {
    type: String,
   }
  },
 }
</script>

<style lang="scss">
    .c-slider-item {
        padding: 15px 20px;
        border: 1px solid rgba(8, 14, 72, 0.33);
        transition: all .3s;
        border-radius: 2px;
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: space-between;
        height: 205px;
        cursor: pointer;
        background-color: $white;
        margin-top: 50px;
        &:hover {
            box-shadow: 0 10px 19px rgba(8, 14, 72, 0.15);
            border: 1px solid #ffffff;
        }
        &__diagram img {
            width: 100%;
            height: max-content;
        }
        &__header {
            @extend %df;
            @extend %aic;
            @extend %jcfs;
            &-title {
                margin-left: 20px;
                h2 {
                    @extend %regular;
                    color: $black;
                }
                p {
                    @extend %regular14lh;
                    line-height: normal;
                    color: $blue;
                }
            }
            &-logo {
                &-item {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
</style>
