@include bp(1920px) {
  .c-roadmap {
    margin-top: 10rem;
    &__container {
      max-width: 1300px;
      margin: 0 auto;
    }
    &__holder {
      margin-left: 45px;
      h2 {
        font-size: rem(35);
      }
    }
  }

  .v-steps {
    &:not(last-child) {
      margin-bottom: 135px;
    }
    &__view {
      width: 49%;
      height: max-content;
      video {
        width: 256px;
        height: 258px;
      }
    }
    &__content {
      width: 48%;
      &-title {
        font-size: rem(20);
        margin-top: 41px;
      }
      &-text {
        line-height: 23px;
        font-size: rem(16);
        padding-left: 30px;
        margin-top: 30px;
      }
    }
  }
}
