@include bp(800px) {
  .c-roadmap {
    &__container {
      max-width: 650px;
    }
  }

  .v-steps {
    &__view {
      width: max-content;
      video {
        width: 200px;
        height: 195px;
      }
    }
  }
}
