@include bp(600px) {
  .c-roadmap {
    &__container {
      max-width: 400px;
    }
    &__wrapper {
      flex-direction: column;
      text-align: center;
    }
    &__holder {
      text-align: center;
    }
  }

  .v-steps {
    flex-direction: column;
    margin-bottom: 90px;
    text-align: left;
    &:not(last-child) {
      margin-bottom: 0;
    }
    &__content {
      width: 100%;
    }
  }
}
