@include bp(476px) {
  .c-roadmap {
    text-align: center;

    &__container {
      max-width: 280px;
    }

    &__holder {
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 50px auto;

      h2 {
        font-size: 20px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0;
      }
    }
  }

  .v-steps {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: left;

    &__content {
      text-align: left;
      margin: 0;
      &-text {
        border: none;
        font-size: 12px;
        padding: 0;
        max-width: 98%;
        line-height: normal;
      }
    }

    &__view {
      video {
        width: 150px;
        height: 150px;
      }
    }
  }
}
