@include bp(600px) {
  .c-service {
    .swiper-button-next, .swiper-button-prev {
      width: 30px !important;
      height: 30px !important;
      font-size: rem(14);
    }
    .swiper-button-prev {
      left: 10px !important;
    }
    margin-left: 0;
    margin-right: 0;
    &__arrow {
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      h2 {
        font-size: 17px;
      }
      &-wrapper {
        width: 60px;
      }
    }
  }


  .v-hide-block {
    max-width: 450px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__wrapper {
      &-text {
        font-size: 12px;
        width: 100%;
        text-align: left;
      }

      &-img {
        margin-top: 20px;
        img {
          height: 126px !important;
          width: 139px !important;
        }
      }
    }
  }
}

