@include bp(476px) {
  .c-service {
margin-left: 0 !important;
    .container {
      max-width: 280px;
      margin: 0 auto;
    }

    .swiper-container {
      height: 230px;
    }

    &__title {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 10px !important;
      }
    }
  }

  .v-hide-block {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    flex-direction: column;
    &__wrapper {
      &-text {
        border: none;
        text-align: left;
        font-size: 9px;
        max-width: 90%;
        padding: 0;
      }
      &-img {
        img {
          width: 139px;
          height: 126px;
          margin-top: 30px;
        }
      }
    }
  }
}
@include bp(400px) {
  .c-service {
    &__title {
      h2 {
        font-size: 17px;
        line-height: normal;
        text-align: left;
        width: 54%;
      }
    }
    &__arrow {
      &__wrapper {
        width: 46%;
      }
    }
  }
}
