@include bp(950px) {
  .c-service {
    max-width: 750px;
    overflow: visible;

    &__arrow {
      h2 {
        font-size: 30px;
      }
    }
  }

  .v-slider-item {
    height: 170px;
    &__open {
      padding: 5px 10px;
    }

    &__wrapper {
      &-view {
        img {
          width: 38px !important;
        }
      }
      &-title {
        p {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }

}
