@include bp(1300px) {
  .c-service {

    .c-service .swiper-button-next, .c-service .swiper-button-prev {
      width: 30px !important;
      height: 30px !important;
    }

  }
  .v-slider-item {
    &__wrapper {
      &-title {
        font-size: 14px;
      }

      &-view img {
        width: initial;
        height: initial;
      }
    }

    &__container {
      height: 270px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .v-hide-block {
    &__wrapper {
      &-img {
        width: max-content;
        img {
          width: 168px;
          height: 140px;
        }
      }

      &-text {
        font-size: 14px;
      }
    }
  }
}
