@include bp(680px) {
  .v-hide-block {
    display: flex;
    flex-wrap: wrap;
    &__wrapper {
      &-text {
        max-width: 100%;
        width: 100%;
      }
      &-img {
        width: 100%;
        margin-top: 50px;
      }
    }
  }
}
