@include bp(800px) {
  .c-service {
  }

  .v-slider-item {
    height: 160px !important;

    &__container {
      padding: 5px;
    }

    &__open {
      padding: 5px 10px;
    }

    &__wrapper {

      &-title {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-size: 12px !important;
          max-width: 100%;
          margin-top: 10px;

        }
      }

      &-view {
        img {
          width: 35px !important;
        }
      }
    }
  }

  .v-hide-block {
    max-width: 600px;

    &__wrapper {
      &-text {
        font-size: 12px;
      }

      &-img {
        img {
          height: 136px;
          width: 149px;
        }
      }
    }
  }
}
