@include bp(1920px) {
 .c-service {
   padding-top: rem(107.4);
    .swiper-container {
    }

   .swiper-button-next, .swiper-button-prev {
     width: 40px !important;
     height: 40px !important;
     font-size: rem(20);
   }

   .swiper-button-next {
     top: 7.5px !important;
     left: 39px !important;
   }

   &__swiper {
     margin-top: 20px;
   }

   &__title h2 {
     font-size: rem(35);

   }

   &__arrow {
     &-wrapper {
       position: relative;
       margin-left: 32px;
     }
   }
 }
  .v-slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    &__container {
      height: 310px;
      padding: 0 20px;
    }
    &__wrapper {
      height: 100% !important;
      &-view {
        img {
          width: auto;
          height: auto;
        }
      }
      &-title {
        p {
          font-size: 20px;
        }
      }
    }
    &__open {
      padding: 10px 17px;
      font-size: rem(20);
    }
  }

  .v-hide-block {
    margin-top: 17px;
    max-width: 1070px !important;

    &__wrapper {
      &-title {
        margin-bottom: 30px;
      }
      &-text {
        margin-top: -20px;
        font-size: rem(17) !important;
        line-height: 23px;
        letter-spacing: 0.32px;
        padding-left: 32px;
        max-width: 50%;
      }
      &-img {
        img {
          height: 209px !important;
          width: 206px !important;
        }
      }
    }
  }
}
