@include bp(476px) {
  .c-footer {
    &__container {
      max-width: 280px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-logo {
        width: 150px;
      }
      &-rules-item {
        font-size: 12px;
      }
    }
  }
}
