@include bp(600px) {
  .c-footer {
    &__container {
      max-width: 400px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-logo {
        width: 180px;
      }
      &-rules-item {
        font-size: 14px;
      }
    }
  }
}
