<template>
        <div class="v-hide-block" data-aos="fade-up"  data-aos-duration="1500" data-aos-easing="ease">
            <div class="v-hide-block__wrapper-title">
                <h2>{{$t(title)}}</h2>
            </div>
            <div class="v-hide-block__wrapper-text">
                {{$t(text)}}
            </div>
            <div class="v-hide-block__wrapper-img">
                <img :src="img" :alt="title">
            </div>
        </div>
</template>

<script>
 export default {
  name: "HideBlock",
  props: {
   title: {
    type: String,
   },
   text: {
    type: String,
   },
   img: {
    type: String,
   },
   name: {
    type: String,
   },
  },
 }
</script>

<style lang="scss">
    .v-hide-block {
        margin-top: 60px;
        @extend %df;
        @extend %jcsb;
        @extend %fw;
        @extend %aic;
        max-width: 800px;

        &__wrapper {
            &-title {
                width: 100%;
                color: blue;
                margin-bottom: 10px;
            }

            &-title h2 {
                @extend %regularbold20px;
            }

            &-text {
                @extend %regular14lh;
                line-height: normal;
                width: 55%;
                padding-left: 23.5px;
                border-left: 3px solid rgba(28, 48, 250, 0.71);
                margin-top: -13px;
            }

            &-img {
                width: 35%;
            }

            &-img img {
                height: 156px;
                width: 169px;
            }
        }
    }
</style>
