<template>
    <div id="app">
        <Header/>
        <StartUp/>
        <Services/>
        <Roadmap/>
        <AutoSlider/>
        <Portfolio/>
        <Teams/>
        <FAQ/>
        <Partners/>
        <Footer/>
    </div>
</template>
<script>
 import Header from "./components/Header";
 import StartUp from "./view/StartUp";
 import AOS from 'aos';
 import 'aos/dist/aos.css';
 import Services from "./components/Services";
 import Roadmap from "./components/Roadmap";
 import Portfolio from "./view/Portfolio";
 import Teams from "./view/Teams";
 import FAQ from "./view/FAQ";
 import Partners from "./view/Partners";
 import Footer from "./components/Footer";
 import AutoSlider from "./components/AutoSlider";

 export default {
  name: 'App',
  components: {
   AutoSlider,
   Footer,
   Partners,
   FAQ,
   Teams,
   Portfolio,
   Roadmap,
   Services,
   StartUp,
   Header
  },
  created() {
   AOS.init();
  },
  updated() {
   AOS.init();
  },
 }
</script>

<style lang="scss">

</style>
