@include bp(416px) {
  .c-team {
    &__container {
      max-width: 280px !important;
    }

    &__title {
      h2 {
        font-size: 25px;
      }
    }
  }

  .c-modal-team {
    &__photo {
      img {
        object-fit: contain;
        width: 69px;
        height: 69px;
      }
    }
  }
}
