@include bp(1300px) {
  .c-team {
    &__container {
      max-width: 850px !important;
    }
  }
  .modal-container {
    width: 700px;
    padding: 20px 10px;
    font-size: 14px;
    height: auto;
  }
}
