@include bp(600px) {
  .c-team {
    &__container {
      max-width: 400px !important;
    }
  }
  .modal-container {
    width: 450px;
    padding: 15px 8px;
    font-size: 12px;
    height: auto;
  }
  .c-slot__img-avatar {
    width: 90px;
  }
}
