@include bp(1920px) {
  .c-team {
    margin-top: 183px;
    &__container {
      max-width: 1300px;
    }
    &__title {
      h2 {
        font-size: rem(35);
      }
    }
    &__wrapper {
      margin-top: 60px;
    }
  }
  .c-modal-team {
    width: 414px;
    &__credentials {
      &-name {
        font-size: rem(18);
      }
      &-surname {
        font-size: rem(18);
      }
      &-description {
        font-size: rem(16);
      }
    }
  }
}
