@include bp(800px) {
  .c-team {
    &__container {
      max-width: 650px !important;
    }
  }
  .c-modal-team {
    width: 300px;
    &__credentials {
      &-name {
        font-size: rem(15);
      }
      &-surname {
        font-size: rem(15);
      }
      &-description {
        font-size: rem(13);
      }
    }
  }
  .modal-container {
    width: 550px;
    padding: 15px 8px;
    font-size: 12px;
    height: auto;
  }
  .c-slot__img-avatar {
    width: 110px;
  }
}
