@include bp(476px) {
 .c-team {
   margin-top: 100px;
   &__container {
     max-width: 280px;
     margin: 0 auto;
   }
   &__title {
     &-tag {
       font-size: 16px;
     }
   }
 }
  .c-modal-team {
    width: 100%;
    margin: 0;
    &__arrow {
      padding: 4px 9px;
    }
  }

  .c-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-container {
    width: 300px;
    padding: 15px 10px;
    font-size: 14px;
    overflow-y: scroll;
  }
}
