%btnwhiteborder {
  padding: 7px;
  width: 149px;
  border: 1px solid #fff;
  border-radius: 2px;
  color: $white;
  text-align: center;
  &:hover {
    background: $blue;
    color: $white;
    border: 1px solid $blue;
  }
}

%btnfullblue {
  padding: 7px;
  width: 149px;
  background: $blue;
  color: $white;
  outline: none;
  border: none;
  opacity: .89;
  box-shadow: 0 15px 19px rgba(28, 48, 250, 0.6);
  border-radius: 4px;
  &:hover {
    opacity: 1;
  }
}
