
//---------------------------------------------fonts
$font_path: "~@/assets/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~@/assets/img/';
//---------------------------------------------colors
$white: #fff;
$black: #000;


$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###

$blue: #1c30fa;
$lgray: #e6e7ed;
